#BoundingBox {
    
    width: 356px;
    padding: 10px;
    height: 300px;
    display: inline-block;
    top: 0;
    line-height: 20px;
    
}

#DisplayName {
    font-weight: bolder
}

#Description {
    font-style: italic;
    position: absolute;
    text-align: center;
    width: 356px;
    text-overflow: ellipsis;
}

#ThumbnailImage{
    border-radius: 5px;
}